In [2]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [4]:
data = pd.read_csv("Data_for_Missing_Values.csv")

In [6]:
data.head(5)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [7]:
#get two cloum age and salary
data_new = data.iloc[:,1:3].values

In [10]:
data.describe()

             Age        Salary
count  18.000000     18.000000
mean   41.444444  50362.222222
std    12.793483  22371.537473
min    12.000000  12000.000000
25%    35.500000  42975.000000
50%    42.500000  55000.000000
75%    52.250000  62500.000000
max    58.000000  83000.000000

Min-Max Normalization

X(new) = ((X(i)-min(X))/(max(X)-min(X)))

In [8]:
minMaxScaler = preprocessing.MinMaxScaler(feature_range=(0,1))
print(minMaxScaler.fit_transform(data_new))

[[0.69565217 0.84507042]
 [0.32608696 0.50704225]
 [0.39130435 0.5915493 ]
 [0.56521739 0.69014085]
 [0.60869565        nan]
 [0.5        0.64788732]
 [       nan 0.56338028]
 [0.7826087  0.94366197]
 [0.82608696 1.        ]
 [0.54347826 0.        ]
 [0.2173913  0.15492958]
 [0.95652174 0.46478873]
 [0.93478261 0.00309859]
 [0.7173913  0.67605634]
 [0.63043478 0.61971831]
 [0.         0.71830986]
 [0.93478261 0.01408451]
 [1.         0.42676056]
 [0.89130435 0.85915493]]

Standardization 
X(new) = (X(i) - min(mean)) / (Standart Deviation))

In [9]:
Standardisation = preprocessing.StandardScaler()
print(Standardisation.fit_transform(data_new))

[[ 0.20554567  0.99524182]
 [-1.16177986 -0.10865175]
 [-0.92048712  0.16732165]
 [-0.27703981  0.4892906 ]
 [-0.11617799         nan]
 [-0.51833255  0.35130391]
 [        nan  0.07533051]
 [ 0.52726932  1.31721078]
 [ 0.68813115  1.50119304]
 [-0.35747073 -1.76449209]
 [-1.56393443 -1.25854088]
 [ 1.17071663 -0.24663844]
 [ 1.09028572 -1.75437307]
 [ 0.28597658  0.44329504]
 [-0.03574707  0.25931278]
 [-2.36824357  0.58128173]
 [ 1.09028572 -1.71849653]
 [ 1.33157846 -0.37082647]
 [ 0.92942389  1.04123738]]